html,
body {
  height: 100%;
}
body {
  background: #efefef !important;
}
.login.card {
  width: 100%;
  max-width: 480px;
  margin: 0 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.register.card {
  max-width: 480px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.card .card-img-top {
  width: 100px;
  margin: 16px auto 0;
}
.alert {
  margin-top: 10px;
}

.hide {
  display: none;
}
